@font-face{
    font-family: abrilFatface;
    src: url(../fonts/abril_fatface/AbrilFatface-Regular.ttf);
}

@font-face{
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

:root{
    --primary-font: abrilFatface;
    --secondary-font: roboto;
    --white-color: #fff;
    --yellow-color: #ffcb0f;
    --yellow-color-service: #bf9108; 
    --purple-color: #1e0755;
    --light-blue: #0d75d4;
    --border-radius: 5px;
    --box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


h1, h2, h3, h4, h5, h6{
    font-family: var(--primary-font);
}

p{
    font-family: var(--secondary-font);
}

.ftco-navbar-light .navbar-toggler, .ftco-navbar-light.scrolled .navbar-toggler{
    color: var(--white-color) !important;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover, .ftco-navbar-light .navbar-nav > .nav-item.active > a, .ftco-navbar-light.scrolled .nav-item.active > a{
    color: var(--yellow-color) !important;
}

.sec-font{
    font-family: var(--secondary-font) !important;
}

.slider-text{
    height: 700px;
}

.slider-text h1{
    -webkit-text-stroke: unset;
    color: var(--white-color);
}

.new-btn{
    background-color: none;
    border: 2px solid var(--yellow-color);
    border-radius: var(--border-radius);
    color: var(--yellow-color);
    padding: 10px 20px;
    transition: all 0.5s ease;
    font-family: var(--secondary-font);
}

.new-btn:hover{
    background-color: var(--yellow-color);
    color: var(--white-color);
}

.slider-text .breadcrumbs span{
    color: var(--yellow-color);
}

.heading-section .subheading{
    color: var(--yellow-color);
}

/* services */
.services-2 .icon-wrap .number{
    background: var(--yellow-color);
}

.services-2:hover .icon-wrap .number span{
    color: var(--yellow-color);
}

.services-2:hover .icon, .services-2 .icon:after{
    background: var(--yellow-color);
}

/* tabulation */
.tabulation .nav-pills .nav-item .nav-link.active{
    background: var(--yellow-color);
    border: 1px solid var(--yellow-color);
}

/* testimonial */
.testimony-wrap .icon, .testimony-section .owl-dots .owl-dot.active{
    background: var(--yellow-color);
}


.testimony-section .overlay, .ftco-appointment .overlay, .hero-wrap.hero-wrap-2 .overlay{
    background-color: #1e0755;
    opacity: 60%;
}


/* blog */
.blog-entry{
    transition: 1s ease;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.blog-entry h3{
    padding: 5px 10px;
}

.blog-entry .meta span.day{
    color: var(--yellow-color);
}

.blog-entry:hover .meta{
    background: var(--yellow-color);
}

.blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active{
    color: var(--purple-color);
}

.blog-entry p{
    padding: 5px 15px;
}

/* contact page */
.dbox .icon{
    background: var(--yellow-color);
}

/* motivational text area */
.motivational-quote-area{
    display: flex;
    padding: 10px;
    color: var(--white-color);

}

.quote-left{
    display: flex;
    align-items: flex-start;
}

.quote-right{
    display: flex;
    align-items: flex-end;
}

.motivational-quote-area span{
    font-size: 3.5rem;
}

.motivational-quote-area p{
    padding: 50px 10px 0 10px;
}

/* .heading-section h2{
    color: var(--yellow-color);
} */

/* footer */
.ftco-footer-social li a{
    background: var(--yellow-color);
}

.dbox p a, .contactForm .label{
    color: var(--yellow-color-service) !important;
}


@media(min-width: 320px){
    .slider-text h1{
        font-size: 2em;
    }

    .slider-text h4{
        font-size: 1.2em;
    }

    .motivational-quote-area span{
        font-size: 2rem;
    }
}


@media(min-width: 576px){
    .slider-text h1{
        font-size: 2.5em;
    }

    .slider-text h4{
        font-size: 1.2em;
    }

    .motivational-quote-area span{
        font-size: 2.5rem;
    }
}

@media(min-width: 768px){
    .slider-text h1{
        font-size: 4em;
    }

    .slider-text h4{
        font-size: 1.3em;
    }
}

@media(max-width: 991.98px){
    .hero-wrap{
        height: 530px;
    }

    .slider-text{
        height: 500px;
    }
}

@media(min-width: 992px){
    .navbar-nav .active .nav-link::after{
        content: '';
        display: block;
        height: 2px;
        width: 25%;
        background-color: var(--yellow-color);
        transition: 0.5s;
    }

    .navbar-nav .nav-link::after{
        content: '';
        display: block;
        height: 2px;
        width: 0%;
        background-color: var(--yellow-color);
        transition: 0.5s;
    }

    .navbar-nav .active .nav-link:hover::after, .navbar-nav .nav-link:hover::after{
        width: 100%;
    }

    .slider-text h1{
        font-size: 4.3em;
    }

    .slider-text h4{
        font-size: 1.6em;
    }
}




@media(min-width: 1200px){
    /* .ftco-navbar-light .navbar-nav > .nav-item.active > a, .ftco-nav .navbar-nav .nav-link a:hover{
        color: var(--white-color) !important;
    } */

    .motivational-quote-area span{
        font-size: 3.5rem;
    }


    .navbar-nav .active .nav-link::after{
        content: '';
        display: block;
        height: 2px;
        width: 25%;
        background-color: var(--yellow-color);
        transition: 0.5s;
    }

    .navbar-nav .nav-link::after{
        content: '';
        display: block;
        height: 2px;
        width: 0%;
        background-color: var(--yellow-color);
        transition: 0.5s;
    }

    .navbar-nav .active .nav-link:hover::after, .navbar-nav .nav-link:hover::after{
        width: 100%;
    }
}

